<!--<div class="container">
    <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
        <a class="navbar-brand" href="#">Unsplash Gallery</a>
        <ug-search (searchEvent)="receiveTermSearch($event)"></ug-search>
    </nav>

    <div style="text-align:center" style="margin-top: 80px;">
        {{ searchTerm }}
        <ug-gallery [searchTerm]="searchTermChange"></ug-gallery>
    </div>
</div>-->
<ug-gallery-container></ug-gallery-container>

<router-outlet></router-outlet>